body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-page_noticias{
    max-width: 1024px;
    text-align: left;
    margin: auto;
    padding: 35px;
    margin-top: 25px;
    margin-bottom: 50px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h1 {
    font-size: 30px;
}

p{
    text-align: center;
    font-size: 22px;
    margin: 0;
}

.cards_noticias-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

}

.card-noticia {
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    position: relative;
}

.card-noticia img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.card h2 {
    margin: 10px 0;
    color: #333;
}

.card p {
    color: #666;
}

.details_journal{
    padding: 10px 15px;
}

.button {
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;    
}

.button:hover {
    background-color: #555;
}