
.container{
    height: auto;

    margin: 50px;
    padding: 25px;
    
    background-color: #eee;

    border-radius: 6px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.container p{
    width: auto;
    text-align: justify;
    text-wrap: wrap;
    /* text-indent: 30px; */
}

.empresa{
    text-align: right;
    font-weight: 500;
}