body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
}

.footer{
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0;
    text-align: center  ;
}

/* Adicione estilos responsivos conforme necessário */
@media screen and (max-width: 768px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}
