
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    
}

.card img{
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 5px 5px 0 0;
}


.card button{
    display: inline-block;
    width: 140px;
    height: 40px;
    
    border: none;
    border-radius: 10px;

    background-color: #333;
    color: #eee;

    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}

/* Adicione estilos responsivos conforme necessário */
@media screen and (max-width: 768px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}
