@media screen and (max-width: 720px) {
    body {

        /* PRODUTOS */
        .cards {
            width: 100%;
            justify-content: center;
        }

        .card {
            width: 100%;
        }

        .card img {
            width: 100%;
        }

        .card .descricao {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 h2 p {
            font-size: 100%;
        }

        .product-details {
            width: 100%;
            margin: auto;
        }

        /* NOTICIAS */

        .cards_noticias-container {
            width: 100%;
            /* padding: 15px; */
            margin: 0;

        }

        .cards_noticias-container h1,
        .cards_noticias-container h2 {
            font-size: 100%;
        }

        .cards_noticias-container p {
            font-size: 100%;
        }


        /* CONTATO - FALE CONOSCO */
        .contato-master {
            box-shadow: none;
            width: 100%;
            /* margin: auto; */
        }

        .form-contato{
            width: 100%;
        }

        /* O PROJETO */
        .container-projeto {
            width: 100%;
            margin: 20px;
        }

        /* INDEX.HTML */
        .container-index a {
            position: relative;
            display: flex;
            width: 100%;
            height: auto;

            margin: auto;

        }

        .container-index a img {
            width: 100%;
        }

    }
}